/* Register.css */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/A photo of a pharmacy with a variety of medication.webp');
    background-size: cover;
    background-color: rgba(96, 92, 97, 0.5); /* Light overlay for better readability */
    background-position: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .register-container {
    background: rgba(217, 207, 219, 0.7);
    padding: 40px; /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  
  .register-container h1 {
    color: #433878;
    margin-bottom: 20px; /* Reduced margin */
    font-size: 24px; /* Reduced font size */
    font-weight: 600;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Reduced gap between inputs */
  }
  
  .register-form input {
    padding: 10px; /* Reduced padding */
    border-radius: 12px;
    border: 1px solid #7e60bf;
    font-size: 16px; /* Reduced font size */
    outline: none;
    width: 100%;
  }
  
  .register-form input:focus {
    border-color: #433878;
  }
  
  .register-form button {
    padding: 10px; /* Reduced padding */
    border: none;
    border-radius: 5px;
    background: #7e60bf;
    color: white;
    font-size: 14px; /* Reduced font size */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-form button:disabled {
    background-color: #a8a8a8;
    cursor: not-allowed;
  }
  
  .register-form button:hover:not(:disabled) {
    background-color: #433878;
  }
  
  .login-link {
    margin-top: 10px; /* Reduced margin */
    font-size: 13px; /* Reduced font size */
    color: #433878;
  }
  
  .login-link a {
    color: #7e60bf;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  
  
.error-message {
    color: #cc1c1c;
    font-size: 18px;
    margin-bottom: 10px;
  }